<% const app = htmlWebpackPlugin.options.appDescription %>
<% const timestamp = Number(new Date) %>

<!--
<%= app.title || app.id %> v<%= app.version %>
Crafted in Germany by <%= app.authorName || "Jaid" %> - <%= app.authorUrl %>
Build timestamp: <%= timestamp %>
-->

<!doctype html>
<html lang="<%= app.language %>">
<head>

    <meta charset="utf-8">

    <title><%= app.title || app.id %></title>

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="HandheldFriendly" content="true">
    <meta name="application-name" content="<%= app.title || app.id %>">
    <meta name="description" content="<%= app.description %>">
    <meta name="author" content="<%= app.authorName %>">
    <link rel='publisher' href="<%= app.authorUrl %>">

    <% if (app.appleMeta) { %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="<%= app.appleMeta.statusBarStyle %>">
    <meta name="format-detection" content="telephone=<%= app.appleMeta.parsePhoneNumbers ? "yes" : "no" %>">
    <% } %>

    <% if (app.openGraph) { %>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= app.openGraph.title || app.title || app.id %>" />
    <meta property="og:url" content="<%= app.openGraph.url %>" />
    <meta property="og:image" content="<%= app.openGraph.image || app.image %>" />
    <meta property="og:image:width" content="<%= app.openGraph.imageWidth || app.imageWidth %>" />
    <meta property="og:image:height" content="<%= app.openGraph.imageHeight || app.imageHeight %>" />
    <meta property="og:locale" content="<%= app.openGraph.locale || app.locale %>" />
    <meta property="og:description" content="<%= app.openGraph.description || app.description %>" />
    <% } %>

    <% if (app.openGraphFacebook) { %>
    <meta property="og:updated_time" content="<%= app.openGraphFacebook.updatedTime || timestamp %>" />
    <% } %>

    <% if (app.twitterCard) { %>
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="<%= app.twitterCard.businessProfileHandle || app.twitterCard.handle %>" />
    <meta property="twitter:creator" content="<%= app.twitterCard.authorProfileHandle || app.twitterCard.handle %>" />
    <meta property="twitter:title" content="<%= app.twitterCard.title || app.title || app.id %>" />
    <meta property="twitter:description" content="<%= app.twitterCard.description || app.description %>" />
    <meta property="twitter:image" content="<%= app.twitterCard.image || app.image %>" />
    <% } %>

    <% if (app.googleFonts) { app.googleFonts.forEach(function(font) { %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=<%= font %>" lazyload>
    <% }) } %>

</head>

<body>
<div id='react'></div>
<% if (app.noScriptMessage) { %>
    <noscript><pre><%= app.noScriptMessage %></pre></noscript>
<% } %>
</body>

</html>
